# Data files
data/*.csv
!data/cortarNo.csv
data/*.xlsx
data/*.json

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment variables
.env
.env.*

# 로그 파일
*.log

# 임시 파일
*.tmp
temp/

.venv/